body {
  background-color: #454545;
}

#homeBody {
  background-color: #454545;
  height: 100vh;
}

h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-left: 5%;
  padding-top: 40px;
}

div.vagabond-navbar {
  display: flex;
  order: 1;
  color: darkgray;
  background-color: #363636;
  height: 70px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  line-height: normal;
  padding: 10px;
}
div.vagabond-navbar a {
  color: white;
}
div.vagabond-navbar #vagabondTitle {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
div.vagabond-navbar .logoAndTitle {
  display: flex;
}
div.vagabond-navbar svg.icon {
  margin-left: 25px;
}

#container-root {
  display: flex;
}

#sidebar-left, #sidebar-right {
  width: 30%;
  transition: visibility 1s ease-in-out;
}

#container-center {
  width: 40%;
}

.sidebar-top-bar {
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.visibility-button {
  border-style: none;
  background: rgba(255, 255, 255, 0);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #454545;
  padding: 10px;
  /**
  transition: all 0.3s ease-in-out;
  property shouldn't be 'all', causes strange visual bug with button
  **/
}

#hideButtonLeft {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
#hideButtonLeft:hover {
  transform: scale(1.1);
}

#hideButtonRight {
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
#hideButtonRight:hover {
  transform: scale(1.1);
}

#hideBarLeft {
  background: white;
  margin-top: 0px;
  font-size: 30px;
  justify-content: flex-end;
}

#hideBarRight {
  justify-content: flex-start;
  background: white;
  margin-top: 0px;
}

.bar {
  background-color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  #root {
    display: block;
  }

  #container-root {
    margin-bottom: 96px;
    /*TODO: Less hacky method of making sure bottom navbar cant cover stuff*/
  }

  #sidebar-left {
    display: none;
  }

  #container-center {
    flex: 3;
    height: 100%;
  }

  #sidebar-right {
    display: none;
  }

  div.vagabond-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    line-height: normal;
  }
  div.vagabond-navbar .logoAndTitle {
    display: none;
  }
  div.vagabond-navbar .icon-bar-horizontal {
    width: 100%;
    justify-content: space-around;
  }
  div.vagabond-navbar svg.icon {
    margin: 0;
  }
}
#compose-note {
  display: flex;
  flex-wrap: overflow;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 92%;
}
#compose-note .compose-note {
  display: flex;
  flex: 6;
  background-color: white;
  border-style: none;
  border-width: 0;
  border-radius: 12px;
  margin-right: 10px;
}
#compose-note .compose-note .textarea-container {
  margin: 10px;
  flex: 1;
}
#compose-note .buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#compose-note .post {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 5px;
  height: 46%;
}
#compose-note .draft {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  background-color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #454545;
  padding-left: 5px;
  align-items: center;
  height: 46%;
}
#compose-note .subIconWhite {
  fill: white;
  height: 30px;
  width: 30px;
  padding-right: 7px;
}
#compose-note .subIconSecondary {
  fill: #454545;
  stroke: white;
  height: 30px;
  width: 30px;
  padding-right: 7px;
}

@media only screen and (min-width: 0) and (max-width: 991px) {
  #compose-note {
    flex-direction: column;
  }
  #compose-note .buttons {
    width: 98%;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    flex-direction: row;
    align-items: stretch;
  }
  #compose-note .buttons .post {
    order: 2;
    width: 49%;
    margin: 0px 0px 0px 5px;
    justify-content: center;
  }
  #compose-note .buttons .draft {
    order: 1;
    width: 49%;
    margin: 0px 5px 0px 0px;
    justify-content: center;
  }
}
.note {
  display: flex;
  flex-direction: row;
  margin: 10px auto 0px auto;
}
.note .pfp-container {
  width: 64px;
}
.note .content {
  margin: 0px 10px 0px 10px;
  word-wrap: anywhere;
  width: 100%;
}

#root {
  font-family: "Kumbh Sans", sans-serif;
}

.icon-bar-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #6c757d;
}

.icon-bar-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #6c757d;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 5px;
  transition-property: color;
  transition: all 250ms ease-in-out;
}

.icon:hover {
  color: #339CFE;
  transform: scale(1.1);
}

textarea.vagabond {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  resize: none;
  overflow: scroll;
  border: none;
  outline: none;
}

.vagabond-tile {
  border-radius: 15px;
  border: 1px solid #adb5bd;
  padding: 5px;
}

p {
  font-size: 14pt;
}

/*Extra small, small, and medium */

/*# sourceMappingURL=vagabond.css.map */
