div.vagabond-navbar {
  display: flex;
  order: 1;
  color: darkgray;
  background-color: #363636;
  height: 70px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  line-height: normal;
  padding: 10px;
}
div.vagabond-navbar a {
  color: white;
}
div.vagabond-navbar #vagabondTitle {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
div.vagabond-navbar .logoAndTitle {
  display: flex;
}
div.vagabond-navbar svg.icon {
  margin-left: 25px;
}

#container-root {
  margin: 5px;
  display: flex;
  order: 2;
}

#sidebar-left {
  flex: 1;
  padding: 10px;
}

#container-center {
  flex: 3;
  padding: 10px;
}

#sidebar-right {
  flex: 1 5;
  padding: 10px;
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  #root {
    display: block;
  }

  #container-root {
    margin-bottom: 96px;
    /*TODO: Less hacky method of making sure bottom navbar cant cover stuff*/
  }

  #sidebar-left {
    display: none;
  }

  #sidebar-right {
    display: none;
  }

  div.vagabond-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    line-height: normal;
  }
  div.vagabond-navbar .logoAndTitle {
    display: none;
  }
  div.vagabond-navbar .icon-bar-horizontal {
    width: 100%;
    justify-content: space-between;
  }
  div.vagabond-navbar svg.icon {
    margin: 0;
  }
}
#compose-note {
  display: flex;
  flex-wrap: overflow;
  flex-direction: row;
}
#compose-note .compose-note {
  display: flex;
  flex: 6;
}
#compose-note .compose-note .textarea-container {
  margin: 10px;
  flex: 1;
}
#compose-note .btn {
  display: block;
  margin: 5px 10px 5px 10px;
  height: 100%;
  flex: 1;
}
#compose-note .buttons {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 0) and (max-width: 991px) {
  #compose-note {
    flex-direction: column;
  }
  #compose-note .buttons {
    margin: 10px 5px 10px 5px;
    padding: 0px;
    flex-direction: row;
    align-items: stretch;
  }
  #compose-note .buttons .post {
    order: 2;
    margin: 0px 0px 0px 5px;
  }
  #compose-note .buttons .draft {
    order: 1;
    margin: 0px 5px 0px 0px;
  }
}
.note {
  display: flex;
  flex-direction: row;
  margin: 10px auto 0px auto;
}
.note .pfp-container {
  width: 64px;
}
.note .content {
  margin: 0px 10px 0px 10px;
  word-wrap: anywhere;
  width: 100%;
}

#root {
  font-family: "Kumbh Sans", sans-serif;
}

.icon-bar-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #6c757d;
}

.icon-bar-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #6c757d;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 5px;
  transition-property: color;
  transition: all 250ms ease-in-out;
}

.icon:hover {
  color: #339CFE;
  transform: scale(1.1);
}

textarea.vagabond {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
}

.vagabond-tile {
  border-radius: 15px;
  border: 1px solid #adb5bd;
  padding: 5px;
}

p {
  font-size: 14pt;
}

/*Extra small, small, and medium */

/*# sourceMappingURL=vagabond.css.map */
